<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <!-- emp -->
 <mapper namespace="kitri.myemp">
 	<select id="count" resultType="int">
 		select count(*) from myemp
 	</select>
 	
 	<insert id="insert" parameterType="emp">
 		insert into myemp values(#{id}, #{pass}, #{addr}, 1000, #{grade}, '001', #{name})
 	</insert>
 	
 	<select id="list" resultType="emp.dto.MyEmpDTO">
 	
 		select * from myemp
 	</select>
 	
 	<update id="update" parameterType="emp.dto.MyEmpDTO">
 		update myemp set #{pass}, #{addr}, #{grade} where #{id} 
 	</update>
 	
 	<delete id="delete" >
 		delete from myemp where id = #{id}
 	</delete>
 	
 	<select id="search" parameterType="String" resultType="emp">
 		select * from myemp where addr like #{addr}
 	</select>
 	
 	<select id="login" parameterType="emp" resultType="emp">
 		select * from myemp where id= #{id} and pass=#{pass}
 	</select>
 	
 	
 
 	
 </mapper>
 
 